
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* vc= Vanilla Css */
/* container */
.vc-nav-container{
  width: 90% !important;
  margin: 0 auto !important;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.vc-container{
  width: 90%;
  margin: 0 auto !important;
}

/* bg-color */
.vc-bg1{
  background: #e73e3a !important;
}
.vc-bg3{
  background: #FDEBEB !important;
}
.vc-bg2{
  background: #0B0D17 !important;
}
/* text-color */
.vc-text1{
  color: rgb(231, 62, 58) !important;
}
.vc-text2{
  color: #0B0D17 !important;
}
.vc-shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: .3s;
}
.vc-shadow:hover {
  box-shadow: 0 .5rem 1.5rem rgba(231, 61, 58, 0.785)!important;
}

.vc-h1{
  font-size: 50px;
}

/* ---------------
responsive mobile 
------------------*/
@media only screen and (max-width: 450px){
  .vc-h1{
    font-size: 35px;
  }
}